{% extends 'RPGBundle::layout.html.twig' %}

{% block title %}- Mission - {{ mission.name }}{% endblock %}

{% block content %}
    {% if sentence.speaker == 0 %}
        <blockquote>{{ sentence.text }}</blockquote>
    {% elseif sentence.speaker > 0 %}
        <p class="text-primary">- {{ sentence.text }}</p>
    {% else %}
        <p class="text-success">- {{ sentence.text }}</p>
    {% endif %}

    {% for answer in answers %}
        <button>{{ answer.text }}</button>
    {% endfor %}
{% endblock %}
