{% extends 'RPGBundle::layout.html.twig' %}

{% block title %}- {{ mission.name }}{% endblock %}

{% block content %}
    <h1>{{ mission.name }}</h1>
    <h2>{{ mission.description }}</h2>
    <a href="{{ path('rpg_mission') }}" class="btn btn-primary">{{ 'Play'|trans }}</a>
{% endblock %}
